$color-dark-navy: #1a2a33;
$color-semi-dark-navy: #1f3641;
$color-silver: #dbe8ed;
$color-silver-hover: #dbe8ed;
$color-light-blue: #31c3bd;
$color-light-blue-hover: #65e9e4;
$color-light-yellow: #f2b137;
$color-light-yellow-hover: #ffc860;
