@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

@mixin font-heading-l {
  font-size: 40px;
  letter-spacing: 2.5px;
}

@mixin font-heading-m {
  font-size: 24px;
  letter-spacing: 1.5px;
}

@mixin font-heading-s {
  font-size: 20px;
  letter-spacing: 1.25px;
}

@mixin font-heading-xs {
  font-size: 16px;
  letter-spacing: 1px;
}

@mixin font-heading-body {
  font-size: 14px;
  letter-spacing: 0.8px;
}
